var filter = {
  getOneStr:function (value) {
    if(value<1000){
      return value
    }
    if (value >= 1000 && value<2000){
      return '1k'
    }
    if (value >= 2000 && value < 3000) {
      return '2k'
    }
    if (value >= 3000 && value < 4000) {
      return '3k'
    }
    if (value >= 4000 && value < 5000) {
      return '4k'
    }
    if (value >= 5000 && value < 6000) {
      return '5k'
    }
    if (value >= 6000 && value < 7000) {
      return '6k'
    }
    if (value >= 7000 && value < 8000) {
      return '7k'
    }
    if (value >= 8000 && value < 9000) {
      return '8k'
    }
    if (value >= 9000 && value < 10000) {
      return '9k'
    }
    if (value >= 10000 && value < 11000) {
      return '10k'
    }
  }
}
var dateFilter = {
  getWeek: function (date) {
    var week;
    if (date) week = "星期日"
    if (date === 1) week = "星期一"
    if (date === 2) week = "星期二"
    if (date === 3) week = "星期三"
    if (date === 4) week = "星期四"
    if (date === 5) week = "星期五"
    if (date === 6) week = "星期六"
    return week;
  }
}
module.exports = {
  getOneStr: filter.getOneStr,
  getWeek: dateFilter.getWeek
}